<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I am...</h2>
                <hr class="light">
                <p class="text-faded">I am a companion of seriousness and objectivity. I feel a great need for being better day to day. Disruptive in the truth, source of society. Someone who loves his country, as well as the cultural mosaic whose plurality represents. Engineering for TODAY's society.</p>
                <a href="#portfolio" class="page-scroll btn btn-default btn-xl">Projects</a>
            </div>
        </div>
    </div>
</section>
