<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Yo soy...</h2>
                <hr class="light">
                <p class="text-faded">Acompañante de la seriedad y apóstol de la objetividad. Tengo una alta necesidad de competir por ser mejor que el día de ayer, disruptivo en la verdad fuente de la sociedad, alguien que ama su país, así como el mosaico cultural que puede representar, la pluralidad. Ingeniería para la sociedad del HOY.</p>
                <a href="#portfolio" class="page-scroll btn btn-default btn-xl">Portafolio</a>
            </div>
        </div>
    </div>
</section>
