<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Eduardo Chávez Barreto's portfolio. Full Stack Web Developer." />

  <!-- Twitter Card data -->
  <meta name="twitter:card" value="summary">

  <!-- Open Graph data -->
  <meta property="og:title" content="Eduardo Chávez. Full Stack Web Developer" />
  <meta property="og:type" content="site" />
  <meta property="og:url" content="https://eduardochvzb.github.io/" />
  <meta property="og:image" content="https://eduardochvzb.github.io/img/header.jpg" />
  <meta property="og:description" content="Javascript Full Stack Developer. Skills: Data visualization, responsive web design, APIs and microservices and front-end libraries" />

  <title>Eduardo Chávez</title>
  <meta name="theme-color" content="#151965" />

  <link rel="apple-touch-icon" sizes="57x57" href="../img/icons/apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="../img/icons/apple-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="../img/icons/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="../img/icons/apple-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="../img/icons/apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="../img/icons/apple-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="../img/icons/apple-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="../img/icons/apple-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="../img/icons/apple-icon-180x180.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="../img/icons/android-icon-192x192.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="../img/icons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="../img/icons/favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="../img/icons/favicon-16x16.png" />
  <link rel="manifest" href="../img/icons/manifest.json" />
  <meta name="msapplication-TileColor" content="#1c1259" />
  <meta name="msapplication-TileImage" content="../img/icons/ms-icon-144x144.png" />
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
  <!-- Custom Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
  <!-- Plugin CSS -->
  <link rel="stylesheet" href="css/animate.min.css" type="text/css" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/main.css" type="text/css" />
  <link rel="stylesheet" href="css/intro-hero.css" type="text/css" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>