<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="https://eduardochvzb.github.io/barChartGDP/" class="portfolio-box">
                    <img src="img/portfolio/13.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Visualización de Datos
                            </div>
                            <div class="project-name">
                                Bar Chart
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="https://drummachine-chvz.netlify.app/" class="portfolio-box">
                    <img src="img/portfolio/1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Librerias Front-End
                            </div>
                            <div class="project-name">
                                Drum Machine
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://eduardochvzb.github.io/SurveyForm/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/7.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Diseño Web Responsivo
                            </div>
                            <div class="project-name">
                                Survey Form
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://url-shortener-microservice-chvz.glitch.me/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/11.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                APIs y Microservicios
                            </div>
                            <div class="project-name">
                                URL Shortener Microservice
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="https://eduardochvzb.github.io/alfredoJalife/" class="portfolio-box">
                    <img src="img/portfolio/2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Diseño Web Responsivo
                            </div>
                            <div class="project-name">
                                Tribute Page
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="https://calculadorajs-chvz.netlify.app/" class="portfolio-box">
                    <img src="img/portfolio/3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Librerias Front-End
                            </div>
                            <div class="project-name">
                                Javascript Calculator
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="https://markapp-chvz.netlify.app/" class="portfolio-box">
                    <img src="img/portfolio/4.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Librerias Front-End
                            </div>
                            <div class="project-name">
                                Markdown Previewer
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://request-header-parser-microservice-chvz.glitch.me/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/10.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                APIs y Microservicios
                            </div>
                            <div class="project-name">
                                Request Header Parser Microservice
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://eduardochvzb.github.io/scatterPlotDoping/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/14.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Visualización de Datos
                            </div>
                            <div class="project-name">
                                Scatter Plot
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="https://pomodoroclock-chvz.netlify.app/" class="portfolio-box">
                    <img src="img/portfolio/5.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Librerias Front-End
                            </div>
                            <div class="project-name">
                                Pomodoro Clock
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://eduardochvzb.github.io/ProductPage/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/8.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Diseño Web Responsivo
                            </div>
                            <div class="project-name">
                                Product Landing Page
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://timestamp-microservice-chvz.glitch.me/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/9.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                APIs y Microservicios
                            </div>
                            <div class="project-name">
                                Timestamp Microservice
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://todo-chvz.netlify.app/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/6.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Librerias Front-End
                            </div>
                            <div class="project-name">
                                To Do App
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://quotemachine-chvz.netlify.app/#" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/12.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Librerias Front-End
                            </div>
                            <div class="project-name">
                                Random Quote Machine
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
