<section id="services" class="no-display-intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-mobile-phone wow bounceIn text-primary"></i>
                    <h3>Responsive Web Design</h3>
                    <p class="text-muted">HTML5, CSS3, visual design, accessibility, multiplatform design, etc.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-js wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Front-end Libraries</h3>
                    <p class="text-muted">Bootstrap, Jquery, React, React Native, Redux and Sass.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-line-chart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Data Visualization</h3>
                    <p class="text-muted">AJAX and D3.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-server wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>APIs and microservices</h3>
                    <p class="text-muted">NPM package, NodeJS, Express, MongoDB and Mongoose.</p>
                </div>
            </div>
        </div>
    </div>
</section>
