<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Mis habilidades</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-mobile-phone wow bounceIn text-primary"></i>
                    <h3>Diseño Web Responsivo</h3>
                    <p class="text-muted">HTML5, CSS3, diseño visual, accesibilidad, diseño multiplataforma, etc.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-js wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Librerias Front-end</h3>
                    <p class="text-muted">Bootstrap, Jquery, React, React Native, Redux y Sass.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-line-chart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Visualización de Datos</h3>
                    <p class="text-muted">Usar y transferir datos a través de AJAX y visualizarlos con D3.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-server wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>APIs y Microservicios</h3>
                    <p class="text-muted">Paquetería NPM, NodeJS, Express, MongoDB y Mongoose.</p>
                </div>
            </div>
        </div>
    </div>
</section>
